<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="es">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/Css/Formulario.css">
        <link rel="stylesheet" type="text/css" href="/css/Header.css">
        <link rel="stylesheet" type="text/css" href="/css/NavBar.css">
        <link rel="stylesheet" type="text/css" href="/css/Body.css">


        <title>Activar/Desactivar Usuarios</title>



    </head>
    <body>

        <header class="header">
            <nav th:replace="/navbar :: nav_bar"></nav>
        </header>
        <div class="contenedor">
            <h1>Activar/Desactivar Usuarios</h1>
            <div>
                <form method="post" action="/admindashboard/setactivo">
                    <div class="contenedor_formulario" >
                        <div class="contenedor_input">

                            <h2>Seleccionar usuario a activar</h2>
                            <select name="id" id="id">
                                <option th:each="i : ${inactivos}" th:value="${i.ID}" th:text="${i.name +', esta activo?'+ i.activo }"></option>
                            </select>
                        </div>
                    </div>
                    <div class="contenedor_button">
                        <button type="submit">Activar!</button>
                    </div>
                </form>
                <form method="post" action="/admindashboard/setinactivo">
                    <div class="contenedor_formulario" >
                        <div class="contenedor_input">

                            <h2>Seleccionar usuario a desactivar</h2>
                            <select name="id" id="id">
                                <option th:each="a : ${activos}" th:value="${a.ID}" th:text="${a.name +', esta activo?'+ a.activo }"></option>
                            </select>
                        </div>
                    </div>
                    <div class="contenedor_button">
                        <button type="submit">Desactivar!</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
