<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/admin_db_styles/adminDB.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/Header.css">
        <link rel="stylesheet" type="text/css" href="/css/NavBar.css">
        <link rel="stylesheet" type="text/css" href="/Css/Footer.css">
        <link rel="stylesheet" type="text/css" href="/Css/Body.css">
        <title>Admin Dashboard</title>
    </head>
    <body>
        <header class="header">
            <nav th:replace="/navbar :: nav_bar"></nav>
        </header>
        <div>
            <div class="filtro-box">
                <h1>Acciones de administrador</h1>
                <a th:href="@{/admindashboard/crearAdmin}" class="button">Crear nuevo Administrador</a>
                <a th:href="@{/admindashboard/crearocupacion}" class="button">Crear ocupacion</a>
                <a th:href="@{/admindashboard/modificarocupacion}" class="button">Modifcar ocupacion </a>
                <a th:href="@{/admindashboard/borrarocupacion}" class="button">Borrar ocupacion</a>
                <a th:href="@{/admindashboard/activar}" class="button">Dar baja/alta Usuario</a>
                <a th:href="@{/admindashboard/cambiorol}" class="button">Cambiar rol usuario</a>
            </div>
        </div>

    </body>
</html>