<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/admin_db_styles/adminDB.css">
    <title>Admin Dashboard</title>
</head>
<body>
<div>
    <div class="filtro-box">
        <h1>Acciones de administrador</h1>
        <br>
        <a th:href="@{/admindashboard/crearAdmin}" class="button">Crear nuevo Administrador</a>
        <br>
        <a th:href="@{/admindashboard/crearocupacion}" class="button">Crear ocupacion</a>
        <br>
        <a th:href="@{/admindashboard/modificarocupacion}" class="button">Modifcar ocupacion </a>
        <br>
        <a th:href="@{/admindashboard/borrarocupacion}" class="button">Borrar ocupacion</a>
        <br>
        <a th:href="@{/admindashboard/activar}" class="button">dar baja/alta Usuario</a>
        <br>
        <a th:href="@{/admindashboard/cambiorol}" class="button">cambiar rol usuario</a>
    </div>
</div>

</body>
</html>