body {
    background-color: #93B1A6;
}

.filtro-box {
    width: 400px;
    background-color: #5C8374;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    font-family: 'Roboto';
    color: white;
    box-shadow: 5px 8px 13px rgba(0, 0, 0, 0.3);
    
    /* Establece la posición fija y la ubicación en la pantalla */
    position: fixed;
    top: 0; /* Anclar en la parte superior de la pantalla */
    left: 0; /* Anclar en el lado izquierdo de la pantalla */
    height: 100%; /* Ocupa toda la altura de la pantalla */
    overflow-y: auto; /* Agrega desplazamiento vertical si es necesario */
}

.filtro-box a{
    margin: 30px;
}

.button{
    background-color: #183D3D; /* Cambia el color de fondo del botón "BUSCAR" */
    color: white; /* Cambia el color del texto a blanco para que sea legible */
    padding: 5px 10px; /* Ajusta el espaciado del botón según tus preferencias */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto';
    margin-top: 10px;
    text-decoration: none;
}