.body {
    margin: 0;
    padding: 0;
    background-image: url(https://image.shutterstock.com/image-photo/assortment-painting-items-yellow-paint-260nw-2185309555.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}