body {
    margin: 0;
    padding: 0;
    /*background-color:#93B1A6;*/
    /*background-image: url(https://img.freepik.com/foto-gratis/conjunto-herramientas-espacio-copia_23-2148393118.jpg?w=740&t=st=1695489834~exp=1695490434~hmac=eb10c9fa7e30e77d20e042c778fde78e9a1563d7e0694037926a4eaab87d750d);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/Img/img_jardin.jpg') ;
}