body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://img.freepik.com/foto-gratis/vista-superior-martillo-acero-otros-elementos-herramientas-construccion_23-2150576394.jpg?w=740&t=st=1695665082~exp=1695665682~hmac=48184c8dd6ee09daa1daf1714145d5b885d9b92f44245a1d30c929e8e9c1bae6) ;
    background-attachment: fixed;
}
