

.card {
    background-color: #5C8374;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 400px;
    padding: 20px;
    margin: 0 auto; 
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
}
.card h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

.data-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    text-align: left;
    padding: 0 10px;
    margin-bottom: 10px; /* Espaciado entre columnas */
}

.column p {
    margin: 10px 0;
}

.profile-picture {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.edit-button {
    background-color: #183D3D;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.edit-button:hover {
    background-color: #145151;
}