body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #93B1A6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.contenedor {
    background-color: #5C8374;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 400px;
    padding: 20px;
    margin: 10px auto;
}

.contenedor h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

.contenedor_formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.contenedor_input {
    text-align: left;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.contenedor_input label {
    margin-bottom: 5px;
    color: white;
    display: block;
}

.contenedor_input input,
.contenedor_input select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.contenedor_button button {
    background-color: #183D3D;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.contenedor_button button:hover {
    background-color: #145151;
}

.footer {
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
<<<<<<< HEAD
}
=======
}
>>>>>>> 01743ca37fb82a4809c3b3ce9b168f3b59b20356
