
.card-title{
    font-family: "Roboto";
    font-size: 40px;
    margin: 20px 0;
    color: #040D12;
}

h4{
    font-size: 30px;
    
}
.prueba{
    font-size: 20px;
    font-family: "Roboto";
    flex-wrap: wrap;
    
    display:flex;
    padding:1%;
    
}

.card{
    margin: 1%;
    
}
