header{
    padding:5%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.imagen-perfil{
    
    width: 10%;
}
.titulo_principal{
    font-family: 'Roboto';
    font-size: 60px;
    color: black;
    align-content: center;
}

.etiquetas{
    font-family: 'Roboto';
       
    font-size: 40px;
    color: black;
    
    
}


.prueba{
    flex-wrap: wrap;
    justify-content:space-around;
    display:flex;
    padding:1%;
    
}


.card {
    background-color: #5C8374;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 400px;
    padding: 20px;
    margin: 0 auto; /* Ajusta el margen superior e inferior */
    display: flex;
    flex-direction:column;
    align-items: center;
}
.card h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

.card img{
    
    width: 30%;

}

.trabajos-card{
    display: inline-flex;
    color:white;
}

.btn btn-primary{
    
    background-color: #183D3D; /* Cambia el color de fondo del botón "VER MÁS" */
    color: white; /* Cambia el color del texto a blanco para que sea legible */
    padding: 10px 20px; /* Ajusta el espaciado del botón según tus preferencias */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto';
    margin-top: 20px;
    text-decoration: none;
}