/* Estilo CSS para la tarjeta rectangular */
.user-card {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px; /* Ancho de la tarjeta */
    height: 300px; /* Altura de la tarjeta, ajusta según tus preferencias */
    transition: background-color 0.3s; /* Transición de color de fondo */
}

/* Estilo para el filtro caja centrada a la izquierda */
.filtro-box {
    width: 150px; /* Ancho de la caja del filtro */
    background-color: #f2f2f2; /* Color de fondo de la caja */
    border: 1px solid #ddd; /* Borde de la caja */
    border-radius: 5px; /* Radio de borde para esquinas redondeadas */
    padding: 10px; /* Espaciado interno de la caja */
    text-align: center; /* Centrar el contenido del filtro horizontalmente */
    margin-left: 20px; /* Margen izquierdo para centrar a la izquierda */
}

/* Estilo para el select del filtro */
#filtro-opciones {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilo para las opciones del select */
#filtro-opciones option {
    font-size: 14px;
    background-color: #fff;
    color: #333;
}

/* Estilo para la imagen de perfil */
.user-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Estilo para el nombre del usuario */
.user-info h1 {
    font-size: 24px;
    margin: 5px 0;
}

/* Estilo para las estrellas de calificación */
.rating .star {
    font-size: 24px;
    color: gold;
    margin-right: 2px; /* Ajusta el espaciado entre las estrellas */
}

/* Estilo para las estrellas completas */
.rating .full-star {
    color: gold;
}

/* Estilo para las estrellas medias (vacías) */
.rating .half-star {
    color:  black;
}

/* Estilo para el efecto hover */
.user-card:hover {
    background-color: #d3d0d0; /* Cambia el color de fondo al pasar el cursor */
}
