.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'Roboto';
    color: #93B1A6;
}

.contenedor-formulario {
    display: flex;
    flex-direction: column;
    background-color:#5C8374; 
    width: 400px;
     border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}
input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #183D3D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

#motivoRechazo {
    display: none;
}

textarea{
    height: 70px;
    width: 305px;
}

.aceptar-trabajo-button{
    background-color: #183D3D; /* Cambia el color de fondo del botón "VER MÁS" */
    color: white; /* Cambia el color del texto a blanco para que sea legible */
    padding: 10px 20px; /* Ajusta el espaciado del botón según tus preferencias */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto';
    margin-top: 20px;
    text-decoration: none;
}
.rechazar-trabajo-button{

    background-color: #183D3D; /* Cambia el color de fondo del botón "VER MÁS" */
    color: white; /* Cambia el color del texto a blanco para que sea legible */
    padding: 10px 20px; /* Ajusta el espaciado del botón según tus preferencias */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto';
    margin-top: 20px;
    text-decoration: none;
}