<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cambiar rol de Usuario</title>
</head>
<body>
<div>
    <h1>Cambiar rol de Usuario</h1>
    <br>
    <form method="post" action="/admindashboard/rolcambio">
        <h2>Selecciona un usuario de la lista</h2>
        <br>
        <select name="id" id="id">
            <option th:each="u : ${listaUsuarios}" th:value="${u.ID}" th:text="${u.name + ', '+ u.email + ', '+ u.rol}"> </option>
        </select>
        <br>
        <button type="submit">Cambiar Rol!</button>
    </form>
</div>

</body>
</html>