<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/Header.css">
        <link rel="stylesheet" type="text/css" href="/css/NavBar.css">
        <link rel="stylesheet" type="text/css" href="/css/Body.css">
        <link rel="stylesheet" href="/Css/stylesCard.css">
        <title>Tarjeta con Botón VER MÁS</title>
    </head>


    <body>
        <header class="header">
            <nav th:replace="/navbar :: nav_bar"></nav>
        </header>
        <div class="container">
            <div class="filtro-box">
                <h2>Filtrar por</h2>
                <!-- Cambio de cuadro desplegable a casillas de verificación -->
                <label><input type="radio" name="filtro" value="ocupación"> Ocupación</label>
                <div id="ocupacionesDiv" style="display: none;">
                    <p th:each="o: ${listaOcupaciones}" th:text="${o.nombre}"></p>
                </div>
                <label><input type="radio" name="filtro" value="antiguedad"> Antigüedad de proveedor</label>
                <label><input type="radio" name="filtro" value="calificacion"> Mejor calificación</label>
                <label><input type="radio" name="filtro" value="solicitados"> Más solicitados</label>
                <label><input type="radio" name="filtro" value="tarifas"> Tarifas más bajas</label>
                <button class="ver-mas-button">BUSCAR</button>

            </div>
            <div th:each="proveedor : ${proveedores}" class="user-card">
                <div class="user-avatar">
                    <img th:src="@{/img/perfil/__${proveedor.ID}__}"
                         onerror="this.src='/Img/card/blank-profile-picture-973460_960_720.webp'" alt="Foto de Perfil" />
                </div>
                <div class="user-info">
                    <!-- Usamos la propiedad name del objeto proveedor -->
                    <h1 th:text="${proveedor.name}">JUAN CARLOS</h1>

                    <!-- Usamos la propiedad ocupacion del objeto proveedor -->
                    <h3 th:text="${proveedor.ocupacion.nombre}">Electricista</h3>

                    <p th:text="'10 años de servicio como ' + ${proveedor.ocupacion.nombre} + '.'">10 años de servicio como
                        electricista.</p>

                    <div class="rating">
                        <span class="star full-star">&#9733;</span>
                        <span class="star full-star">&#9733;</span>
                        <span class="star full-star">&#9733;</span>
                        <span class="star full-star">&#9733;</span>
                        <span class="star half-star">&#9734;</span>
                    </div>

                    <a th:href="@{/proveedor/__${proveedor.ID}__}">
                        <button class="ver-mas-button">VER MÁS</button>
                    </a>


                </div>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                let radios = document.querySelectorAll('input[type=radio][name=filtro]');
                radios.forEach(radio => radio.addEventListener('change', function () {
                        if (this.value === 'ocupación') {
                            document.getElementById('ocupacionesDiv').style.display = 'block';
                        } else {
                            document.getElementById('ocupacionesDiv').style.display = 'none';
                        }
                    }));
            });
        </script>
    </body>

</html>