<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/editar_user.css">
        <link rel="stylesheet" type="text/css" href="/css/Header.css">
        <link rel="stylesheet" type="text/css" href="/css/NavBar.css">
        <link rel="stylesheet" type="text/css" href="/Css/Body.css">
        <link rel="stylesheet" type="text/css" href="/Css/Footer.css">


        <title>Registro de cliente</title>
    </head>
    <body>
        <header class="header">
            <nav th:replace="/navbar :: nav_bar"></nav>
        </header>
        <div class="contenedor">
            <h1>Editar Datos</h1>
            <div>
                <form th:action="@{/perfil/__${usuario.ID}__}" method="post" enctype="multipart/form-data">
                    <div class="contenedor_formulario">
                        <div class="contenedor_input">
                            <input hidden th:value="${usuario.ID}" name="id">
                            <label>Ingrese su nombre</label>
                            <input name="name" type="text" placeholder="Nombre" th:value="${usuario.name}">

                            <label>Ingrese su Email</label>
                            <input name="email" type="email" placeholder="fernando@chiquito.com" th:value="${usuario.email}">

                            <label>Ingrese su número de teléfono</label>
                            <input name="phone" type="text" placeholder="56 9 1234 5678" th:value="${usuario.phone}">

                            <label>Suba una foto de perfil</label>
                            <input name="archivo" type="file">
                        </div>

                        <div class="contenedor_input">
                            <label>Ingrese su contraseña</label>
                            <input name="password" type="password" placeholder="********">

                            <label>Repita su contraseña</label>
                            <input name="password2" type="password" placeholder="********">

                            <div th:if="${usuario.rol == T(com.equipoa.servicewebapp.Enum.Rol).CLIENTE}">
                                <label>Ingrese su calle/ dirección</label>
                                <input name="direccion" type="text" placeholder="Ej: Calle Las Camelias" th:value="${usuario.direccion}">
                            </div>

                            <div th:if="${usuario.rol == T(com.equipoa.servicewebapp.Enum.Rol).PROVEEDOR}">
                                <label>Seleccione su ocupacion</label>
                                <select id="ocupacion" name="ocupacion">
                                    <option th:each="o : ${ocupaciones}" th:value="${o.nombre}" th:text="${o.nombre}"></option>
                                </select>
                            </div>

                            <label>Seleccione su provincia</label>
                            <select id="provincia" name="provincia" th:value="${usuario.provincia}">
                                <option th:each="p: ${provincia}" th:value="${p}"
                                        th:text="${#strings.capitalize(#strings.replace(p.toString().toLowerCase(), '_', ' '))}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="contenedor_button">
                        <button class="boton" type="submit">Guardar Cambios</button>
                    </div>

                </form>
            </div>
        </div>
        <footer>
            <div th:replace="/footer :: vista_footer"></div>
        </footer>
    </body>
</html>