<div th:fragment="vista_footer" class="footer">
    <ul class="social-icon">
        <li class="social-icon__item"><a class="social-icon__link" href="#">
                <ion-icon name="logo-facebook" class="facebook-icon"></ion-icon>
            </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="#">
                <ion-icon name="logo-twitter" class="twitter-icon"></ion-icon>
            </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="#">
                <ion-icon name="logo-linkedin" class="linkedin-icon"></ion-icon>
            </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="#">
                <ion-icon name="logo-instagram" class="instagram-icon"></ion-icon>
            </a></li>
    </ul>
    <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="#">Términos y Condiciones</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Política de Privacidad</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Quiénes Somos</a></li>
    </ul>
    <p>&copy; 2023 ReparoYa | Todos los derechos reservados</p> 
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>


</div>
