<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
</head>
<body>
<div>
    <h1>Iniciar sesion</h1>
    <br>
    <form action="/logincheck" method="post">
        <label>Ingrese su Email</label>
    <br>
        <input type="email" name="email" placeholder="fernando@chiquito.com">
    <br>
        <label>Ingrese su contraseña</label>
    <br>
        <input type="password" name="password" placeholder="********">
    <br>
        <button type="submit">Iniciar Sesion</button>
    </form>
</div>

</body>
</html>