<div th:fragment="nav_bar" class="nav">
    <div class="contenedor_navbar">
        <div class="contenedor_logo">
            <img class="logo" src="Img/logoBlanco.png" alt="logoReparoYa">
        </div>
        <nav class="navbar">
            <a class="nav_a" href="">Servicios</a>
            <a class="nav_a" href="">Contacto</a>
            <a class="nav_a" href="">Preguntas Frecuentes</a>
            <a class="nav_a_sesion" th:href="@{/login}" >Iniciar Sesión</a>
        </nav>
    </div>
</div>