<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
        <link rel="stylesheet" type="text/css" href="/css/Header.css">
        <link rel="stylesheet" type="text/css" href="/css/NavBar.css">
        <title>Página perfil provedfhgadfhfahdhadfedor</title>

    </head>
    <header class="header">
        <nav th:replace="/navbar :: nav_bar"></nav>
    </header>
    <body>
        <main>
            <h4>Proveedor</h4>
            <p>Nombre: <span th:text="${proveedor.name}"></span></p>
            <div class="contenedor-imagen">
                <img th:src="@{/img/perfil/__${proveedor.ID}__}"
                     onerror="this.src='/Img/card/blank-profile-picture-973460_960_720.webp'" alt="Foto de Perfil" />
            </div>
            <div class="contenedor-informacion-descripcion">
                <div class="contenedor-descripcion">
                    <div class="titulo-descripcion">
                        <h4>Descripción</h4>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="texto-descripcion">
                        <p>
                            Descripción de proveedor
                        </p>
                    </div>
                </div>
                <div class="contenedor-informacion-adicional">
                    <div class="titulo-informacion-adicional">
                        <h4>Ocupacion</h4>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="texto-descripcion">
                        <div class="">
                            <span th:if="${proveedor.ocupacion != null}" th:text="${proveedor.ocupacion.nombre}"></span></p>
                        </div>
                    </div>
                </div>
                <div class="contenedor-informacion-calificacion">
                    <div class="titulo-informacion-calificacion">
                        <h4>Calificación</h4>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <p th:if="${promedio != null}">Promedio de Puntuaciones: <span th:text="${promedio}"></span></p>
                    <div class="texto-descripcion">
                        <div class="calificacion-estrellas">
                            <span class="calificacionestrella" data-valor="1">&#9733;</span>
                            <span class="calificacionestrella" data-valor="2">&#9733;</span>
                            <span class="calificacionestrella" data-valor="3">&#9733;</span>
                            <span class="calificacion-strella" data-valor="4">&#9733;</span>
                            <span class="calificacionestrella" data-valor="5">&#9733;</span>
                        </div>
                    </div>
                </div>
                <div class="contenedor-informacion-adicional">
                    <div class="titulo-informacion-adicional">
                        <div class="botones">
                            <button class="boton-contacto">
                                <i class="fa-solid fa-plus"></i>
                                Contactar
                            </button>
                            <a class="boton-solicitar-servicio" th:href="@{/trabajo/solicitarservicio/__${proveedor.ID}__}"
                               sec:authorize="hasRole('ROLE_CLIENTE')">
                                <i class="fa-solid fa-plus"></i>
                                Solicitar servicio
                            </a>
                        </div>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                </div>
            </div>
        </main>
        <section class="contenedor-trabajos-realizados">
            <h2>Trabajos realizados</h2>
            <div th:if="${calificaciones != null}">
                <div th:each="calificacion : ${calificaciones}" class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title" th:text="${calificacion.clienteEmisor.name}"></h4>
                        <strong>Trabajo realizado: </strong><span class="card-title"
                                                                  th:text="${calificacion.trabajo.descripcion}"></span>
                        <p class="card-text">
                            <strong>Puntuación:</strong> <span th:text="${calificacion.puntuacion}"></span><br />
                            <strong>Comentario:</strong> <span th:text="${calificacion.comentario}"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div th:if="${calificaciones == null}">
                <p>No hay comentarios ni puntuaciones para mostrar.</p>
            </div>
        </section>
    </body>

</html>