<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style2.css">
    <title>Página perfil proveedor</title>

</head>
<body>
    <main>
        <div class="contenedor-imagen">
            <img src="imagenes/pmzr067h.png" alt="imagen-perfil" />
        </div>
        <div class="contenedor-informacion-descripcion">
            <div class="contenedor-descripcion">
                <div class="titulo-descripcion">
                    <h4>Descripción</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="texto-descripcion">
                    <p>
                       Descripción de proveedor 
                    </p>
                </div>
            </div>
            <div class="contenedor-informacion-adicional">
                <div class="titulo-informacion-adicional">
                    <h4>Ocupacion</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="texto-descripcion">
                    <div class="">
                       -----------------
                    </div>
                </div>
            </div>
            <div class="contenedor-informacion-calificacion">
                <div class="titulo-informacion-calificacion">
                    <h4>Calificación</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="texto-descripcion">
                    <div class="calificacion-estrellas">
                        <span class="calificacionestrella" data-valor="1">&#9733;</span>
                        <span class="calificacionestrella" data-valor="2">&#9733;</span>
                        <span class="calificacionestrella" data-valor="3">&#9733;</span>
                        <span class="calificacion-strella" data-valor="4">&#9733;</span>
                        <span class="calificacionestrella" data-valor="5">&#9733;</span>
                    </div>
                </div>
            </div>
            <div class="contenedor-informacion-adicional">
                <div class="titulo-informacion-adicional">
                    <div class="botones">
                        <button class="boton-contacto">
                            <i class="fa-solid fa-plus"></i>
                            Contactar
                        </button>
                        <a class="boton-solicitar-servicio" href="/trabajo/solicitarTrabajo">
                            <i class="fa-solid fa-plus"></i>
                        Solicitar servicio
                        </a>
                    </div>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
        </div>
    </main>
    <section class="contenedor-trabajos-realizados">
        <h2>Trabajos realizados</h2>
        <div class="lista-tarjetas-trabajos">
            <div class="tarjeta">
                <div class="tarjeta-imagen">
                    <img src="imagenes/R.jpg"
                        alt="trabajo-1" />
                </div>
            </div>
            <div class="tarjeta">
                <div class="tarjeta-imagen">
                    <img src="imagenes/construccion_0.jpg"
                        alt="trabajo-2" />
                </div>
            </div>
            <div class="tarjeta">
                <div class="tarjeta-imagen">
                    <img src="imagenes/OIP.jpg"
                        alt="trabajo-3" />
                </div>
            </div>
            <div class="tarjeta">
                <div class="tarjeta-imagen">
                    <img src="imagenes/OIP (1).jpg"
                        alt="trabajo-4" />
                </div>
            </div>
        </div>
    </section>
</body>
</html>
