<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro de proveedor</title>
</head>
<body>
<div>
    <h1> Registro de usuario </h1>
    <br>
    <form action="/r/registroproveedor" method="post" enctype="multipart/form-data">
        <label>Ingrese su nombre</label>
        <input name="name" type="text" placeholder="Nombre">
        <br>
        <label>Ingrese su Email</label>
        <input name="email" type="email" placeholder="fernando@chiquito.com">
        <br>

        <label>Suba una foto de perfil</label>
        <input name="archivo" type="file">

        <br>
        <label>Ingrese su contraseña</label>
        <input name="password" type="password" placeholder="********">
        <br>
        <label>Repita su contraseña</label>
        <input name="password2" type="password" placeholder="********">
        <br>
        <label>Ingrese su número de teléfono</label>
        <input name="phone" type="text" placeholder="56 9 1234 5678">
        <br>
        <label>Seleccione su provincia</label>
        <select id="provincia" name="provincia">
            <option th:each="p: ${provincia}" th:value="${p}"
                    th:text="${#strings.capitalize(#strings.replace(p.toString().toLowerCase(), '_', ' '))}"></option>
        </select>
        <br>
        <label>Seleccione su ocupacion</label>
        <select id="ocupacion" name="ocupacion">
            <option th:each="o : ${listaOcupacion}" th:value="${o.nombre}" th:text="${o.nombre}"></option>
        </select>

        <br>

        <button type="submit">Registrarse!</button>
    </form>
</div>
</body>
</html>