<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/admin_db_styles/registroAdminDB.css">
    <link rel="stylesheet" th:href="@{/css/styleregistro.css}">
</head>
<body>

<div class="form-container">
    <div class="card">
        <h1>Registro de Administrador</h1>
        <div class="form-wrapper">
            <form action="/admindashboard/registro" method="post" enctype="multipart/form-data">
                <label>Ingrese su nombre</label>
                <input name="name" type="text" placeholder="Nombre">
                <label>Ingrese su Email</label>
                <input name="email" type="email" placeholder="fernando@chiquito.com">
                <label>Suba una foto de perfil</label>
                <input name="archivo" type="file">
                <label>Ingrese su contraseña</label>
                <input name="password" type="password" placeholder="********">
                <label>Repita su contraseña</label>
                <input name="password2" type="password" placeholder="********">
                <label>Ingrese su número de teléfono</label>
                <input name="phone" type="text" placeholder="56 9 1234 5678">
                <label>Seleccione su provincia</label>
                <select id="provincia" name="provincia">
                    <option th:each="p: ${provincia}" th:value="${p}"
                            th:text="${#strings.capitalize(#strings.replace(p.toString().toLowerCase(), '_', ' '))}"></option>
                </select>
                <button type="submit" class="button filtro-box">Registrarse</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
