<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Servicios</title>
    <link rel="stylesheet" type="text/css" href="/Css/NavBar.css">
    <link rel="stylesheet" type="text/css" href="/Css/Header.css">
    <link rel="stylesheet" href="Css/servicio_estilo.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
<body>
    <header class="header">
        <nav th:replace="/navbar :: nav_bar"></nav>
    </header>
    <div class="container">
        <div class="card">
            <figure>
                <img src="Img/Service/Albanil.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Albanil</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quae consequuntur culpa esse ex, minima aspernatur sunt necessitatibus accusantium dolores?</p>
                <a href="#">Ver Mas</a>
            </div>
        </div>

        <div class="card">
            <figure>
                <img src="Img/Service/Electricista.jpg" alt="">
            </figure>
            <div class="Albanil">
                <h3>Electricista</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quae consequuntur culpa esse ex, minima aspernatur sunt necessitatibus accusantium dolores?</p>
                <a href="#">Ver Mas</a>
            </div>
        </div>

        <div class="card">
            <figure>
                <img src="Img/Service/Jardinero.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Jardinero</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quae consequuntur culpa esse ex, minima aspernatur sunt necessitatibus accusantium dolores?</p>
                <a href="#">Ver Mas</a>
            </div>
        </div>

        <div class="card">
            <figure>
                <img src="Img/Service/Pintor.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Pintor</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quae consequuntur culpa esse ex, minima aspernatur sunt necessitatibus accusantium dolores?</p>
                <a href="#">Ver Mas</a>
            </div>
        </div>

        <div class="card">
            <figure>
                <img src="Img/Service/tecnico.jpeg" alt="">
            </figure>
            <div class="contenido">
                <h3>Tecnico</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quae consequuntur culpa esse ex, minima aspernatur sunt necessitatibus accusantium dolores?</p>
                <a href="#">Ver Mas</a>
            </div>
        </div>

        <div class="card">
            <figure>
                <img src="Img/Service/Plomero.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Plomero</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quae consequuntur culpa esse ex, minima aspernatur sunt necessitatibus accusantium dolores?</p>
                <a href="#">Ver Mas</a>
            </div>
        </div>

        <div class="card">
            <figure>
                <img src="Img/Service/SeguridadPrivada.webp" alt="">
            </figure>
            <div class="contenido">
                <h3>Seguridad Privada</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quae consequuntur culpa esse ex, minima aspernatur sunt necessitatibus accusantium dolores?</p>
                <a href="#">Ver Mas</a>
            </div>
        </div>

        <div class="card">
            <figure>
                <img src="Img/Service/gasista.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Gasista</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quae consequuntur culpa esse ex, minima aspernatur sunt necessitatibus accusantium dolores?</p>
                <a href="#">Ver Mas</a>
            </div>
        </div>

        <div class="card">
            <figure>
                <img src="Img/Service/herrero.jpeg" alt="">
            </figure>
            <div class="contenido">
                <h3>Herrero</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quae consequuntur culpa esse ex, minima aspernatur sunt necessitatibus accusantium dolores?</p>
                <a href="#">Ver Mas</a>
            </div>
        </div>

            <div class="card">
                <figure>
                    <img src="Img/Service/InstalacionDeAires.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h3>Refrigeracion</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quae consequuntur culpa esse ex, minima aspernatur sunt necessitatibus accusantium dolores?</p>
                    <a href="#">Ver Mas</a>
                </div>
            </div>

                <div class="card">
                    <figure>
                        <img src="Img/Service/carpintero.jpg" alt="">
                    </figure>
                    <div class="contenido">
                        <h3>Carpintero</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quae consequuntur culpa esse ex, minima aspernatur sunt necessitatibus accusantium dolores?</p>
                        <a href="#">Ver Mas</a>
                    </div>
                </div>
        </div>

</body>
</html>