<!DOCTYPE html>

<html lang="es" xmlns:th="https://www.thymeleaf.org">

    <head>
        <title>Trabajo rechazado</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/Header.css">
        <link rel="stylesheet" type="text/css" href="/css/NavBar.css">
        <link rel="stylesheet" type="text/css" href="/Css/Body.css">
        <link rel="stylesheet" type="text/css" href="/Css/trabajoRechazado.css">


    </head>
    <body>
        <header class="header">
            <nav th:replace="/navbar :: nav_bar"></nav>
        </header>
        <div class="contenedor">


            <div>
                <h1 class="mensaje-aceptar">¡Has rechazado esta solicitud de trabajo!</h1>
            </div>
            <div class="contenedor_button">
                <a class="perfil-proveedor-button" href="/proveedor/loginproveedor">Regresar a mi perfil</a>
            </div>
        </div>

    </body>
</html>
