<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="solicitar servicio.css">
        <title>Solicitud de Trabajo</title>
    </head>
    <body>
        <h1>Solicitud de Trabajo</h1>
        <form>
            <label for="nombreCliente">Nombre del Cliente:</label>
            <input type="text" id="nombreCliente" name="nombreCliente" required>

            <label for="fechaInicio">Fecha de Inicio:</label>
            <input type="date" id="fechaInicio" name="fechaInicio" required>

            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" name="direccion" required>

            <label for="telefono">Teléfono:</label>
            <input type="tel" id="telefono" name="telefono" required>

            <label for="descripcion">Descripción:</label>
            <input type="text" id="descripcion" name="descripcion" required>

            <div>
                <button type="button" id="aceptarTrabajo">Aceptar y enviar</button>
                <button type="button" id="rechazarTrabajo">Rechazar</button>
            </div>

            <div id="motivoRechazo">
                <label for="motivo">Motivo del Rechazo:</label>
                <textarea id="motivo" name="motivo"></textarea>
                <button type="button" id="rechazarYenviar">Rechazar y Enviar</button>
            </div>
        </form>


    </body>
</html>

