<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/Header.css">
        
        <link rel="stylesheet" type="text/css" href="/css/Main.css">
        <link rel="stylesheet" type="text/css" href="/Css/Body.css">
        <link rel="stylesheet" type="text/css" href="/Css/solicitar_servicio.css">
        <title>Solicitud de Trabajo</title>
    </head>
    <body>
        <section class="prueba">
        <div class="card" style="width: 18rem;"  enctype="multipart/form-data">
            
             <div class="card-body">
                 <h5 class="card-title">SOLICITUD DE TRABAJO </h5>
                 <h4>Descripción: </h4>
                 <p class="card-text"th:text="${trabajo.descripcion}" >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <h4>Fecha inicio trabajo </h4>
                 <p th:text="${trabajo.fechaInicio}"></p>
                 <h4>Nombre Cliente</h4>
                 <p th:text="${cliente.name}"></p>
                   <div>
                       <button type="button" id="aceptarTrabajo">Aceptar y enviar</button>
                       <button type="button" id="rechazarTrabajo">Rechazar</button>
                   </div>

                   <div id="motivoRechazo">
                       <label for="motivo">Motivo del Rechazo:</label>
                       <textarea id="motivo" name="motivo"></textarea>
                       <button type="button" id="rechazarYenviar">Rechazar y Enviar</button>
                   </div>
                 
             </div>
        </div>
       </section>

          
        


    </body>
</html>

